- content_for(:head) do
  = javascript_include_tag 'common'
  = javascript_include_tag 'live-comment-preview'
- content_for(:page_title) do
  = post_title(@post)
= render :partial => 'posts/post', :locals => {:post => @post}
